body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
  margin:0;
  margin-bottom: 1rem;
}

.input {
  border-radius: .5em;
  border: 2px solid rgb(26, 20, 41);
  padding: .25rem;
  width: 14em;
}

select {
  border-radius: .5em;
  border: 2px solid rgb(26, 20, 41);
  padding: .25rem;
  width: 15em;
}

.arrow {
  font-weight: bold;
  font-size: 4rem;
}

.wrapper {
  background-color: rgb(181, 255, 255);
  padding: 20px;
  border-radius: 1em;
}

.instructions {
  border:3px solid rgb(7, 75, 75);
  margin: 20px;
  padding: 10px;
  width:75vh;
}